<footer class="contact bg-dark-100" id="contact">
  <img src="/images/illust-footer-tree@2x.png" alt="tree" class="contact__tree">
  <img src="/images/footer_fruits.png" alt="fruits" class="contact__fruits">

  <div class="container">
    <div class="d-flex flex-column pt-6 text-light-100 border-bottom">
      <div class="fw-bold contact__title text-center text-md-start">
        <h2 class="fs-1 border-bottom">Contact Us</h2>
      </div>
      <div class="d-md-flex justify-content-md-between pt-4 px-4">
        <ul class="contact__menu d-flex justify-content-center align-items-center">
          <li class="contact__item me-6">
            <a href="/">首頁</a>
          </li>
          <li class="contact__item me-6">
            <a href="/bodytest">健康體態</a>
          </li>
          <li class="contact__item me-6">
            <a href="/diary">健康日誌</a>
          </li>
          <li class="contact__item me-6">
            <a href="/foods?page=1&limit=8">聰明飲食</a>
          </li>
        </ul>
        <ul class="contact__icons d-none d-md-flex align-items-center">
          <li class="me-6">
            <a href="#"><img src="/images/ic-social-fb.png" alt="facebook" class="img-fluid"></a>
          </li>
          <li class="me-6">
            <a href="#"><img src="/images/ic_social_ig.png" alt="instgram" class="img-fluid"></a>
          </li>
          <li class="me-6">
            <a href="#"><img src="/images/ic_social_line.png" alt="line"></i class="img-fluid"></a>
          </li>
        </ul>
      </div>

      <ul class="contact__info p-4 text-center text-md-start">
        <li class="fs-5 mb-1">
          <a href="mailto:peiju.liao@gmail.com" class="link-light-100">
            <span class="material-symbols-outlined align-bottom">
              mail
            </span>
            peiju.liao@gmail.com
          </a>
        </li>
        <li class="fs-5">
          <a href="tel:0912345678" class="link-light-100">
            <span class="material-symbols-outlined align-bottom">
              phone_iphone
            </span>
            0912345678
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>