// spacer 0px~48px (4px為一個單位)
// $spacer: 1rem;
// $spacers: (
//   0: 0,
//   1: ($spacer * 0.25),
//   2: ($spacer * 0.5),
//   3: ($spacer * 0.75),
//   4: $spacer,
//   5: ($spacer * 1.25),
//   6: ($spacer * 1.5),
//   7: ($spacer * 1.75),
//   8: ($spacer * 2),
//   9:($spacer * 2.25),
//   10:($spacer * 2.5),
//   11:($spacer * 2.75),
//   12:($spacer * 3),
//   13:($spacer * 3.25),
//   14:($spacer * 3.5),
//   15:($spacer * 3.75),
//   16:($spacer * 4)
// );

// @each $prop,
// $abbrev in (margin: m, padding: p) {

//   @each $num,
//   $val in $spacers {
//     .#{$abbrev}-#{$num} {
//       #{$prop}: $val;
//     }

//     .#{$abbrev}t-#{$num} {
//       #{$prop}-top: $val;
//     }

//     .#{$abbrev}r-#{$num} {
//       #{$prop}-right: $val;
//     }

//     .#{$abbrev}b-#{$num} {
//       #{$prop}-bottom: $val;
//     }

//     .#{$abbrev}l-#{$num} {
//       #{$prop}-left: $val;
//     }

//     .#{$abbrev}x-#{$num} {
//       #{$prop}-left: $val;
//       #{$prop}-right: $val;
//     }

//     .#{$abbrev}y-#{$num} {
//       #{$prop}-top: $val;
//       #{$prop}-bottom: $val;
//     }
//   }
// }

.bdrs-8 {
  border-radius: 0.5rem; //8px
}

.bdrs-10 {
  border-radius: 0.625rem; //10px
}

.bdrs-12 {
  border-radius: 0.75rem; //12px
}

.bdrs-24 {
  border-radius: 1.5rem; //24px
}