.bdrs-8 {
  border-radius: 0.5rem; //8px
}

.bdrs-10 {
  border-radius: 0.625rem; //10px
}

.bdrs-12 {
  border-radius: 0.75rem; //12px
}

.bdrs-24 {
  border-radius: 1.5rem; //24px
}

/* 初始化瀏覽器預設scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: $color-primary;

    &:hover {
      background-color: $color-secondary ;
    }
  }
}

.swiper-button-next {
  right: -2rem;
  color: $color-dark;
}