// Color
$color-primary-light: #ffb900;
$color-primary: #EE8319;
$color-secondary: #ea5704;
$color-secondary-100: #ff7730;
$color-light-100: #fdf5c9;

$color-tertiary: #55c57a;
$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-dark: #4E2F14;
$color-dark-100: #483107;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f4f4f4;
$color-grey-light-2: #eee;

$box-shawdow: 0 10px 20px #ec7e10ce;