// Color
$color-primary: #EE8319;
$color-secondary: #ea5704;
$color-secondary-100: #EA601D;
$color-third: #fbf8e9;

$color-dark: #4E2F14;
$color-dark-100: #483107;

$color-white: #fff;
$color-black: #000;

$box-shawdow: 0 10px 20px #ec7e10ce;