@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap"); /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Kosugi Maru", "Lato", "Roboto", "Noto Sans TC", sans-serif;
}

.bdrs-8 {
  border-radius: 0.5rem;
}

.bdrs-10 {
  border-radius: 0.625rem;
}

.bdrs-12 {
  border-radius: 0.75rem;
}

.bdrs-24 {
  border-radius: 1.5rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem);
  }
  80% {
    transform: translate(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.btn, .btn:link {
  display: inline-block;
  padding: 1rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  text-align: center;
  position: relative;
  border-radius: 2rem;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn:hover::after {
  transform: scaleX(1.3) scaleY(1.6);
  opacity: 0;
}
.btn__primary {
  background-color: #EE8319;
}
.btn__primary:hover {
  background-color: #ea5704;
  transform: translateY(-0.25rem);
  box-shadow: 0 10px 20px rgba(236, 126, 16, 0.8078431373);
}
.btn__primary::after {
  background-color: #b94a12;
}
.btn__outline-primary {
  border: 1px solid #EE8319;
}
.btn__outline-primary:any-link {
  color: #ea5704;
}
.btn__outline-primary:hover {
  background-color: #4E2F14;
  transform: translateY(-0.5rem);
  box-shadow: 0 10px 20px rgba(236, 126, 16, 0.8078431373);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  opacity: 0.9;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.nav {
  height: 5rem;
}
.nav__ham {
  display: none;
}
.nav__button {
  background-color: #fbf8e9;
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 0.5rem;
  left: 2rem;
  z-index: 500;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.nav__background {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  left: 3rem;
  background-image: radial-gradient(#f59d55 1%, #ea5704 100%);
  z-index: 100;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.nav__checkbox {
  display: none;
}
.nav__icon {
  position: relative;
  margin-top: 2rem;
}
.nav__icon, .nav__icon::before, .nav__icon::after {
  width: 2.5rem;
  height: 0.25rem;
  background-color: #EE8319;
  display: inline-block;
}
.nav__icon::before, .nav__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.5s;
}
.nav__icon::before {
  top: -0.8rem;
}
.nav__icon::after {
  top: 0.8rem;
}
.nav__button:hover .nav__icon::before {
  top: -1rem;
}
.nav__button:hover .nav__icon::after {
  top: 1rem;
}
.nav__checkbox:checked + .nav__button .nav__icon {
  background-color: transparent;
}
.nav__checkbox:checked + .nav__button .nav__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.nav__checkbox:checked + .nav__button .nav__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.nav__hambg {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.nav__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #4E2F14;
}
.nav__checkbox:checked ~ .nav__background {
  transform: scale(80);
}
.nav__checkbox:checked ~ .nav__hambg {
  opacity: 1;
  width: 100%;
}
.nav__tree {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 12%;
}
.nav__logo {
  line-height: 5rem;
}
.nav__wrap {
  justify-content: space-between;
}
.nav__menu {
  margin-right: 3rem;
}
.nav__menu a:any-link {
  color: #4E2F14;
}
.nav__item {
  position: relative;
}
.nav__item:not(:last-child) {
  margin-right: 2.5rem;
}
.nav__item:last-child {
  margin-right: 3rem;
}
.nav__item a {
  padding: 1.5rem 0;
}
.nav__item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1rem;
  border-radius: 0.5rem;
  width: 0%;
  height: 0.25rem;
  background-color: #ea5704;
  transition: width 0.5s ease-in-out;
}
.nav__item:hover a::after {
  width: 110%;
}
.nav__item-login {
  width: 5rem;
  height: 3rem;
  background: #EE8319;
  line-height: 3rem;
}
.nav__item-login:hover {
  background-color: #ea5704;
}
@media (max-width: 992px) {
  .nav .nav__item:not(:last-child) {
    margin-right: 1rem;
  }
}
@media (max-width: 768px) {
  .nav .nav__ham {
    display: block;
  }
  .nav .nav__wrap {
    justify-content: center;
  }
  .nav .nav__menuWrap {
    display: none;
  }
  .nav .nav__tree {
    width: 18%;
  }
}

.header__banner {
  padding-top: 2.5rem;
}
.header__banner-img {
  margin: 0 -3rem;
  object-fit: contain;
}
@media (max-width: 1200px) {
  .header .header__banner-img {
    margin: 0;
  }
  .header .header__banner-title h2 {
    font-size: 3rem;
  }
}
@media (max-width: 992px) {
  .header .header__banner-title {
    margin-right: -2rem;
  }
  .header .header__banner-title h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .header .header__banner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .header .header__banner-title {
    text-align: center;
  }
}

.contact {
  height: 17rem;
  position: relative;
}
.contact__tree {
  width: 30%;
  position: absolute;
  bottom: 15rem;
  left: 2rem;
}
.contact__fruits {
  width: 30%;
  position: absolute;
  top: -5rem;
  right: 6rem;
}
.contact__menu span {
  font-size: 2rem;
}

.hungryWarning {
  padding-top: 5rem;
}
.hungryWarning__info {
  margin-bottom: 5rem;
}
.hungryWarning__tree {
  z-index: 1;
  width: 12%;
}
.hungryWarning__card {
  padding: 5rem 2.5rem;
  border-radius: 1.125rem;
  position: relative;
}
.hungryWarning__card h3 {
  font-size: 2rem;
}
.hungryWarning__card:hover {
  box-shadow: 0 10px 20px rgba(236, 126, 16, 0.8078431373);
}
.hungryWarning__card::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 10px;
  width: 90%;
  border-radius: 1.125rem;
  background-color: #b94a12;
}
@media (max-width: 992px) {
  .hungryWarning .hungryWarning__card {
    padding: 4rem 2rem;
  }
  .hungryWarning .hungryWarning__card h3 {
    font-size: 1.2rem;
  }
  .hungryWarning .hungryWarning__tree {
    width: 18%;
  }
}
@media (max-width: 768px) {
  .hungryWarning .hungryWarning__info:last-child {
    align-items: center;
    flex-direction: column-reverse;
  }
  .hungryWarning .hungryWarning__card h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 576px) {
  .hungryWarning .hungryWarning__tree {
    width: 30%;
  }
}

.food {
  margin-top: -3rem;
}
.food__tree {
  z-index: 1;
  width: 20%;
}
.food__wrap {
  padding-top: 30rem;
}
.food__topImg {
  position: relative;
}
.food__personStand {
  width: 50%;
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.food__bg-ground-btm {
  padding-top: 5rem;
  padding-bottom: 20rem;
  background: url("../images/bg-ground-btm.jpeg") top/contain;
  height: 100%;
  text-align: center;
}
.food__card-img {
  height: 15rem;
  object-fit: cover;
}
@media (max-width: 992px) {
  .food .food__tree {
    width: 25%;
  }
  .food .food__personStand {
    width: 70%;
  }
  .food .food__bg-ground-btm {
    padding-top: 10rem;
  }
}
@media (max-width: 768px) {
  .food .food__tree {
    width: 30%;
  }
  .food .food__personStand {
    width: 90%;
  }
  .food .food__bg-ground-btm {
    padding-top: 15rem;
  }
}
@media (max-width: 576px) {
  .food .food__wrap {
    padding-top: 25rem;
  }
}

.login__wrap,
.register__wrap {
  position: relative;
}
.login__form,
.register__form {
  min-height: calc(100vh - 8rem);
  width: 45%;
  background-color: rgba(251, 248, 233, 0.7);
}
.login__banner,
.register__banner {
  width: 50%;
}
@media (max-width: 768px) {
  .login .register__form,
.login .login__form,
.register .register__form,
.register .login__form {
    width: 85%;
  }
  .login .register__banner,
.login .login__banner,
.register .register__banner,
.register .login__banner {
    display: none;
  }
}

.foods {
  margin-top: 5rem;
}

/*# sourceMappingURL=all.css.map */
