<article class="bg-light-100">
  <div class="bodytest">
    <div class="container">

      <h1 class="fw-bold text-center text-dark pt-4 bodytest__title border-bottom border-3 border-secondary w-50 mx-auto
      position-relative">健康體態BMI
        <img src="../images/footer_fruits.png" alt="fruits"
          class="bodytest__title-pic position-absolute top-100 start-0 translate-middle">
        <img src="../images/footer_fruits.png" alt="fruits"
          class="bodytest__title-pic position-absolute top-100 start-100 translate-middle">
      </h1>

      {{!-- BMI Part --}}
      <div class="part d-flex flex-column flex-md-row jutsify-content-center align-items-center py-4 pt-md-15 border">
        <form action="" method="POST" class="mt-5 mt-md-0 me-md-4 p-4">
          <div class="row justify-content-center">
            <div class="col-5 mb-2">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="male">
                <label class="form-check-label" for="male">
                  男
                </label>
              </div>
            </div>
            <div class="col-5 mb-2">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="female">
                <label class="form-check-label" for="female">
                  女
                </label>
              </div>
            </div>
            <div class="col-10 mt-2">
              <label for="height" class="form-label text-dark">身高/cm</label>
              <input type="number" class="form-control" id="height" step="1" name="height" placeholder="請輸入您的身高/公分...">
            </div>
            <div class="col-10 mt-2">
              <label for="weight" class="form-label text-dark" step="1">體重/kg</label>
              <input type="number" class="form-control" id="weight" name="weight" placeholder="請輸入您的體重/公斤...">
            </div>
            <div class="col-10 mt-2">
              <label for="age" class="form-label text-dark" step="1" min="1" max="100">年齡</label>
              <input type="number" class="form-control" id="age" name="age" placeholder="請輸入您的年齡...">
            </div>
          </div>
        </form>
        <table class="bodytest__table table table-hover table-striped mt-5 mt-md-0">
          <thead class="text-center text-dark">
            <tr class="fw-bold">
              <th scope="col">BMI</th>
              <th scope="col">成年人肥胖定義</th>
            </tr>
          </thead>
          <tbody class="text-center table-group-divider text-dark">
            <tr>
              <th scope="row">BMI < 18.5</th>
              <th scope="row">過輕</th>
            </tr>
            <tr>
              <th scope="row">18.5 <= BMI < 24</th>
              <th scope="row">正常</th>
            </tr>
            <tr>
              <th scope="row">24 <= BMI < 27</th>
              <th scope="row">過重</th>
            </tr>
            <tr>
              <th scope="row">27 <= BMI < 30</th>
              <th scope="row">輕度肥胖</th>
            </tr>
            <tr>
              <th scope="row">30 <= BMI < 35</th>
              <th scope="row">中度肥胖</th>
            </tr>
            <tr>
              <th scope="row"> BMI >= 35</th>
              <th scope="row">重度肥胖</th>
            </tr>
          </tbody>
        </table>
      </div>

      {{!-- HungryExamine Part --}}
      <div class="hungryExamine py-4 border border-dark">
        <div class="part row justify-content-center">
          <div class="col-6 col-md-3">
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" value="" id="hh1">
              <label class="form-check-label" for="hh1">
                眼睛乾澀
              </label>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label" for="flexCheckChecked">
                頭髮乾燥分岔
              </label>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label" for="flexCheckChecked">
                免疫力低下
              </label>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label" for="flexCheckChecked">
                心律不整
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="btnControl d-flex justify-content-end align-items-center mt-4">
        <a href="#" class="btn btn__primary py-2 link-light me-4 disabled" aria-disabled="true" role="buttton">上一步</a>
        <a href="#" class="btn btn__primary py-2 link-light me-4" role="buttton">下一步</a>
      </div>

    </div>

    {{!-- <img src="../images/illust-branch@2x.png" alt="tree"
      class="bodytest__tree position-absolute bottom-0 start-0"> --}}
  </div>
</article>

<script src="/javascript/bodytest.js"></script>