<article class="foods bg-dark">
  <div class="foods__wrap">
    <div class="container h-100">
      <div class="h-100 pt-15">
        <form action="" method="POST" class="foods__form py-8 px-8">
          <div class="row justify-content-center">
            {{!-- 食物分類 --}}
            <div class="col-10 col-md-4">
              <div class="foods__category mx-auto mb-6">
                <select class="form-select form-select" aria-label=".form-select example">
                  <option> 六大食物全部 </option>
                  <option value="1">全穀雜糧類</option>
                  <option value="2">蛋豆魚肉類</option>
                  <option value="3">乳品類</option>
                  <option value="3">蔬菜類</option>
                  <option value="3">水果類</option>
                  <option value="3">油脂與堅果種子類</option>
                </select>
              </div>
            </div>
            {{!-- 維生素分類 --}}
            <div class="col-10 col-md-4">
              <div class="foods__vitamin mx-auto mb-6">
                <select class="form-select form-select" aria-label=".form-select example">
                  <option> 維生素 </option>
                  <option value="1">維生素A</option>
                  <option value="2">維生素B</option>
                  <option value="3">維生素D</option>
                  <option value="3">維生素E</option>
                </select>
              </div>
            </div>
            <div class="col-10 col-md-4">
              <div class="foods__vitamin mx-auto mb-6">
                <select class="form-select form-select" aria-label=".form-select example">
                  <option> 礦物質 </option>
                  <option value="1">鈣</option>
                  <option value="2">鐵</option>
                  <option value="3">鎂</option>
                  <option value="3">鋅</option>
                  <option value="3">碘</option>
                </select>
              </div>
            </div>

            <div class="col-10">
              <div class="input-group mb-3 mx-auto w-100">
                <input type="text" class="form-control" placeholder="請輸入欲尋找的食物名稱或透過上述條件篩選..." aria-label="food_name"
                  aria-describedby="button-addon2">
                <button type="submit" class="btn btn-primary">搜尋</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>


  </div>

  <div class="foods__cards py-12">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-10 col-md-4 col-lg-3">
          <div class="card border-0 rounded-1 text-dark">
            <img src="/images/apple-compressed.jpeg" class="card-img-top rounded-1" alt="蘋果" style="height: 15rem;">
            <div class="card-body">
              <h5 class="card-title py-2 border-bottom border-primary fw-bold">蘋果</h5>
              <p class="card-text">
                <span class="material-icons align-top">
                  calendar_month
                </span>
                April-August
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>




</article>