.bodytest {
  min-height: calc(100vh - 5rem);
  height: 100%;
  z-index: 0;

  &__title {
    font-size: 2rem;
    position: relative;

    &-pic {
      width: 65%;
    }
  }

  &__tree {
    width: 25%;
    z-index: -1;
  }
}

.bmi {
  form {
    background-color: rgba($color-primary, 0.5)
  }
}

.hiddenhungry {
  &__img {
    width: 95%;
    background-image: linear-gradient(to right bottom, rgba($color-light-100, 0.2),
        rgba($color-secondary, 0)), url('../images/pic007.avif');
    background-size: cover;
    background-position: bottom;
    height: 15rem;
    border-radius: 0.5rem;
  }

  &__wrap {
    border-top: 1px solid $color-dark;
  }

  &__banner {
    max-width: 12rem;
    border-radius: 0.5rem;
    background-color: rgba($color-light-100, 0.7);

    p {
      font-size: 0.875rem;
    }
  }
}

.moodDiary {
  &__img {
    background-image: linear-gradient(to right bottom, rgba($color-light-100, 0.3),
        rgba($color-secondary, 0.4)), url('../images/smile.avif');
    background-size: cover;
    background-position: center;
    height: 18rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  &__mood {
    .form-check-input:checked~.form-check-label {
      color: $color-secondary;
      font-weight: 700;
    }

    span {
      font-size: 3rem;
    }
  }
}

@include ipad {
  .bodytest {
    &__title {
      font-size: 2.5rem;

      &-pic {
        width: 50%;
      }
    }

    &__tree {
      width: 20%;
    }
  }

  .hiddenhungry {
    &__img {
      height: 18rem;
    }
  }

  .moodDiary {
    &__img {
      background-image: linear-gradient(to right bottom, rgba($color-light-100, 0.2),
          rgba($color-secondary, 0.3)), url('../images/pic004.avif');
      height: 25rem;
    }

    h2 {
      font-size: 1.75rem;
    }
  }
}

@include ipad_horizontal {
  .bodytest {
    &__tree {
      width: 15%;
    }
  }

  .moodDiary {
    h2 {
      font-size: 1.75rem;
    }
  }
}