.diary {
  min-height: calc(100vh - 5rem);
  z-index: 0;

  img {
    object-fit: cover;
  }

  .img {
    height: 5rem;
    width: 5rem;

    &_edit {
      background: url('../images/andychen.jpeg') center / cover;
      height: 12rem;
      width: 12rem;
      z-index: 0;
    }

    &_editbtn {
      width: 5rem;
    }
  }

  &__tree {
    width: 25%;
    z-index: -1;
  }

  &__table {
    min-width: 32rem;

    thead {
      background-color: $color-light-100;
      position: sticky;
      top: 0;
      left: 0;
      z-index: 999;
    }
  }

  .table-wrapper {
    width: 100%;
    height: 70vh;
    overflow: scroll;
  }

  .mood {
    position: relative;

    .moodToggle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .moodToggle[type="checkbox"] {
      -webkit-appearance: none;
      width: 40px;
      height: 40px;
      cursor: pointer;
      z-index: 10;
    }

    &__record {
      z-index: 999;
      position: absolute;
      top: 100%;
      right: 50%;
      width: 500%;
      max-width: 25rem;
      height: auto;
      border: 1px solid $color-primary;
      border-radius: 0.75rem;
      border-top-right-radius: 0;
      background-color: $color-light-100;
    }
  }

}

@include ipad {
  .diary {
    &__tree {
      width: 20%;
    }
  }
}