.login,
.register {

  &__wrap {
    position: relative;
  }

  &__form {
    min-height: calc(100vh - 6rem);
    background-color: rgba($color-light-100, 0.7);
    width: 90%;
  }

  &__banner {
    display: none;
  }

  @include ipad {

    .register,
    .login {
      &__form {
        width: 45%;
      }

      &__banner {
        width: 55%;
        display: block;
      }
    }
  }
}