.header {
  &__banner {
    padding-top: 2.5rem;

    &-img {
      margin: 0 -3rem;
      object-fit: contain;
    }
  }

  // @include lg {
  //   .header {
  //     &__banner {
  //       &-img {
  //         margin: 0;
  //       }

  //       &-title {
  //         h2 {
  //           font-size: 3rem; //48px
  //         }
  //       }
  //     }
  //   }
  // }

  // @include xl {
  //   .header {
  //     &__banner {
  //       &-title {
  //         margin-right: -2rem;

  //         h2 {
  //           font-size: 2.5rem;
  //         }
  //       }
  //     }
  //   }
  // }

  // @include ipad {
  //   .header {
  //     &__banner {
  //       flex-direction: column-reverse;
  //       align-items: center;

  //       &-title {
  //         text-align: center;
  //       }
  //     }
  //   }
  // }
}